.navegacao {
    position: relative;
    height: 80px;
    border-bottom: 3px solid #efefef;
    margin: 0 auto;
}

.menu-navegacao {
    margin: 0 auto;
    background-color:#fff;

}

.menu-navegacao ul {
    position: absolute;
    top: 30px;
    margin: 0 !important;
    padding:0 !important;
}

.menu-navegacao ul li{
    display: inline-block;
    color: #8b8b8b;
    margin-right: 16px;
    height: 50px;
}

.menu-navegacao ul li a{
    width: 70%;
    color: #8b8b8b;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.25s;
}

.menu-navegacao ul li:hover {
    border-bottom: 2px solid #a10033;
}

.menu-navegacao ul li a:hover {
    color: #a10033;
}


.busca {
    position: absolute;
    right: 0;
    text-align: center;
    width: 20%;
    float: right;
}

.busca input {
    outline: none;
    font-family: Ubuntu;
    background-image: url('../../assets/imagens/icone-search.png');
    background-position: 96%;
    background-repeat: no-repeat;
    margin-top: 19px;
    width: 190px;
    height: 20px;
    padding-left: 12px;
    border: 1px solid #d6d6d6;
    transition: 0.25s;
}

.busca input:focus {
    border-color: #a10033;
    color: #a10033;
}