.navegacao {
    position: relative;
    height: 60px;
    border-bottom: 3px solid #efefef;
    margin: 0 auto;
}

.menu-navegacao {
    margin: 0 auto;
    background-color:#fff;

}

.menu-navegacao ul {
    position: absolute;
    top: 10px;
    margin: 0 !important;
    padding:0 !important;
}

.menu-navegacao ul li{
    display: inline-block;
    color: #8b8b8b;
    margin-right: 16px;
    height: 50px;
}

.menu-navegacao ul li a{
    width: 70%;
    color: #8b8b8b;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.25s;
}

.menu-navegacao ul li:hover {
    border-bottom: 2px solid #a10033;
}

.menu-navegacao ul li a:hover {
    color: #a10033;
}

.menu-principal {
    background-color: #252323 ;
    height: 60px;
    width: 100%;
    color: #fff;
}

.conteudo-margem {
    width: 980px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.logo {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top:-12px;
}   
